@import url('https://fonts.googleapis.com/css2?family=Proza+Libre&display=swap');

html {
    box-sizing: border-box;
}

/* #FEF4C0 */
*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --accent-color: #163B88;
    --primary-color: #C99FFB;
    --text-color: black;
    --additional-color: #965DD5;
    --additional-color2: #B960E5;
    --title-size: 32px;
    --primary-size: 19px;
    --small-size: 17px;
    --primary-margin: 20px;
    --primary-font: 'Proza Libre', sans-serif;
}

@media (max-width: 1980px) {

    body {
        color: var(--text-color);
        background-color: var(--primary-color);
        max-width: 1903px;
        margin: 0 auto;
        font-family: 'Montserrat', sans-serif;
        font-size: var(--title-size);
       
    }

    header {
        background-color: var(--additional-color2);
    }
    .header__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1200px;
        padding-top: 20px;
    }

    .header__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 585px;
        margin: 0 auto;
        padding-bottom: 20px;
    }

    .header__item {
        max-width: 100px;
    }

    .header__item a:hover {
        color: var(--accent-color);
        transition-duration: .3s;
    }

    .header__item a {
        font-size: 28px;
        color: var(--primary-color);
        text-decoration: none;
        white-space: nowrap;
    }

    .header__social-icons {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 300px;
    }

    .header__social-ico {
        margin-right: 30px;
        width: 40px;
        height: 40px;
    }

    li:last-child img {
        margin-right: 0;
    }

    .header__social-ico:hover {
        opacity: .75;
        transition-duration: .2s;
        transform: scale(1.1);
    }

    .header__hamburger {
        display: none;
    }

    .main {
        width: 100%;
        display: flex;
        justify-content: center;
        background-image: url("./assets/blossom.jpg");
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .section {
        width: 70%;
    }

    .article1 {
        width: 80%;
        height: 350px;
        background-color: var(--primary-color);
        margin: 0 auto;
        margin-bottom: 20px;

    }

    .article1__title {
        font-size: var(--title-size);
        display: flex;
        justify-content: center;
        color: var(--accent-color);
        padding: 20px 0px;
    }

    .article1__block {
        width: 95%;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }

    .article1__block-photo {
        width: 30%;
        height: auto;
    }

    .article1__block-text {
        width: 60%;
        font-size: var(--primary-size);
        font-family: var(--primary-font);
        line-height: 1.3;
        
    }

    .artical1__block-wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .article1__block-title {
        font-family: var(--primary-font);
        font-size: var(--primary-size);
        line-height: 1.2;
    }

    .article1__block-subtitle {
        font-family: var(--primary-font);
        font-size: var(--small-size);
    }

    .article1__img {
        width: 95%;
        height: 85%;
    }

    .article1__img:hover {
        transition-duration: .3s;
        transform: scale(1.05);
    }

    .button {
        background-color: var(--additional-color2);
        width: 80%;
        height: 50px;
        border: 0;
        border-radius: 5px;
        margin-top: 10px;
        vertical-align:bottom;
    }

    .button:hover {
        background-color: var(--additional-color);
    }

    .article2 {
        width: 80%;
        height: 380px;
        background-color: var(--primary-color);
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .article3 {
        width: 80%;
        height: 350px;
        background-color: var(--primary-color);
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .article4 {
        width: 80%;
        height: 500px;
        background-color: var(--primary-color);
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .wrapper {
        max-width: 500px;
        margin: 0 auto;
        position: relative;
    }

    .slider__container {
        overflow: hidden;
    }

    .slider__track {
        display: flex;
        transition: .2s;
    }

    .slider__track-item {
        height: auto;
    }

    .slider__track-img {
        /* width: 450px; */
        height: 350px;
        margin-left: 15%;
        background-size: auto 100%;
    }

    .slider__buttons {
        text-align: center;
    }

    .slider__buttons-prev {
        position: absolute;
        left: -48px;
        top: 125px;
        background: url(./assets/UnionLeft.svg) no-repeat center;
        width: 60px;
        height: 60px;
        border: 1px solid #20113D;
        background-color: Transparent;
        border-radius: 5px;
    }

    .slider__buttons-next {
        position: absolute;
        right: -48px;
        top: 125px;
        background: url(./assets/UnionRight.svg) no-repeat center;
        width: 60px;
        height: 60px;
        border: 1px solid #20113D;
        background-color: Transparent;
        border-radius: 5px;
    }

    .slider__buttons-prev:hover,
    .slider__buttons-next:hover {
        background-color: var(--additional-color);
    }
}




@media (max-width: 1050px) {
    .header__wrapper {
        flex-direction: column;
        justify-content: center;
    }

    .header__social {
        margin: 0 auto;
        padding-bottom: 15px;
    }

    .header__social-ico {
        width: 35px;
    }

    .article2 {
        height: 470px;
    }
    
    .article1 {
        height: 650px;
    }
    .article1__block {
        flex-direction: column;
        justify-content: center;
        justify-content: space-between;
        
    }

    .article1__block-photo {
        margin-bottom: 15px;
        width: 100%;
    }

    .article1__block-text {
        width: 100%;
        line-height: 1.3;
    }
    .article1__block-title {
        margin-bottom: 10px;
        margin-top: 15px;
    }

    .article1__block-subtitle {
        margin-bottom: 10px;
    }

    .button {
        margin-bottom: 10px;
        font-size: var(--primary-size);
        
    }

    .article3 {
        height: 970px;
    }

    .article1__block-item {
        margin: 10px;
    }

    .slider__buttons-prev {
        left: -80px;
    }

    .slider__buttons-next {
        right: -80px;
    }

    .slider__buttons-prev,
    .slider__buttons-next {
        background-color: var(--additional-color);
        top: 171px;
    }

    .slider__buttons-prev:hover,
    .slider__buttons-next:hover {
        background-color: var(--primary-color);
    }

}


@media (max-width: 875px) {
    .section {
        width: 95%;
    }

    .article3 {
        height: 1050px;
    }

    /* .slider__track-img {
        width: 400px;
        height: 300px;
        margin-left: 7%;
    } */

    .slider__track-img {
        height: 350px;
        margin-left: 15%;
        background-size: auto 100%;
    }

    .article4 {
        height: 450px;
    }
}

@media (max-width: 800px) {

    .wrapper {
        max-width: 400px;
    }

    /* .slider__track-img {
        max-width: 100%;
        height: 305px;
        margin-left: 0;
    } */

    .slider__track-img {
        height: 350px;
        margin-left: 5%;
        background-size: auto 100%;
    }
}

@media (max-width: 586px) {
    .article1,
    .article2,
    .article3,
    .article4 {
        width: 90%;
    }

    .sticky {
        position: fixed;
        top: 0;
        width: 100%
      }

    .header__list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 125px;
        background-color: var(--additional-color2);
        display: none;
        position: absolute;
        top: 75px;
    }

    .header__item a {
        margin-left: 7px;
    }

    .show{
        display: flex;
    }

    .header__social {
      padding-bottom: 0;
    }
    .header__social-icons{   
        position: absolute;   
        top: 20px;    
        right: 30px;
    }

    .header__hamburger {
        position: relative;
        display: block;
        background: url(./assets/hamburger.svg);
        width: 45px;
        height: 45px;
        margin-bottom: 7px;
        margin-left: 10px;
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .slider__buttons-prev {
        left: -25px;
        width: 35px;
        height: 35px;
    }
    .slider__buttons-next {
        right: -25px;
        width: 35px;
        height: 35px;
    }

    .article3 {
        height: 840px;
    }

    @media (max-width: 490px){
        .article1,
        .article2,
        .article3,
        .article4 {
            width: 310px;
        }

        .article2 {
            height: 520px;
        }

        .article3 {
            height: 650px;
        }

        .wrapper {
            max-width: 312px;
        }

        .slider__track-img {
            height: 270px;
            margin-left: 7%;
            background-size: auto 100%;
        }

        .header__hamburger {
            width:36px;
            height: 36x;
        }

        .header__list {
            width: 110px;
        }
    
        .header__item a {
            font-size: 24px;
        }

        .header__social-icons{   
            position: absolute;   
            top: 20px;    
            right: 40px;
            justify-content: space-between;
            width: 170px;
        }

        .slider__buttons-prev {
            left: 0;
            width: 30px;
            height: 30px;
        }
        .slider__buttons-next {
            right: 0;
            width: 30px;
            height: 30px;
        }
    }
}
